// .p-post1 {
// 	.sidebar {
// 		.b { text-align: justify; }
// 	}
// 	.widget-recruitment {
// 		.widget-title {
// 			a {
// 				transition: all ease 0.3s;
// 				&:hover{ color: $yellow; }
// 			}
// 		}
// 		.desc {
// 	    overflow: hidden;
// 	    display: -webkit-box;
// 	    -webkit-line-clamp: 3;
// 	    -webkit-box-orient: vertical;
// 		}
// 		ul {
// 			.xstitle { margin-bottom: 7px; }
// 		}
// 	}
// 	.entry-content { text-align: justify; }
// 	&__list1 {
// 		a {
// 			.xstitle { transition: all ease 0.4s; }
// 			&:hover {
// 				.xstitle { color: $yellow; }
// 			}
// 		}
// 	}
// }
