.p-about1__list {
  position: initial;
}

@media only screen and (min-width: 1200px) {
  .p-about1__list {
    padding-top: 22px;
  }
}

.p-about1__list .num-img1 {
  position: initial;
}

.p-about1__list .num-img1 img {
  width: 154px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: top;
}

@media only screen and (max-width: 1199px) {
  .p-about1__list .num-img1 img {
    width: 100px;
    height: auto;
  }
}

.p-about1__list .item1 {
  z-index: initial;
}

.p-about1__list .item1_icon1 {
  display: block;
  width: auto;
  width: auto;
  height: auto;
  margin-bottom: 6px;
}

.p-about1__list .item1_title1 {
  margin-bottom: 8px;
}

.p-about1__list .box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 45px;
  color: #555;
  border-bottom: 1px solid #555;
}

@media only screen and (min-width: 1200px) {
  .p-about1__list .box1 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

@media only screen and (max-width: 767px) {
  .p-about1__list .box1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.p-about1__list .box1_text1 {
  max-width: 690px;
}

.p-about1__list .box1_col1 {
  width: 20%;
  padding-right: 10px;
}

@media only screen and (min-width: 1200px) {
  .p-about1__list .box1_col1 {
    width: 224px;
  }
}

@media only screen and (max-width: 767px) {
  .p-about1__list .box1_col1 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.p-about1__list .box1_col2, .p-about1__list .box1_col3 {
  padding-right: 20px;
}

@media only screen and (max-width: 575px) {
  .p-about1__list .box1_col2, .p-about1__list .box1_col3 {
    padding: 0 10px;
  }
}

.p-about1__list .box1_col2 {
  width: 30%;
}

@media only screen and (min-width: 1200px) {
  .p-about1__list .box1_col2 {
    width: 408px;
  }
}

@media only screen and (max-width: 767px) {
  .p-about1__list .box1_col2 {
    width: 25%;
  }
}

@media only screen and (max-width: 575px) {
  .p-about1__list .box1_col2 {
    width: 100%;
  }
}

.p-about1__list .box1_col3 {
  width: 50%;
}

@media only screen and (min-width: 1200px) {
  .p-about1__list .box1_col3 {
    width: calc(100% - 408px - 224px);
  }
}

@media only screen and (min-width: 768px) {
  .p-about1__list .box1_col3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}

@media only screen and (max-width: 767px) {
  .p-about1__list .box1_col3 {
    width: 75%;
  }
}

@media only screen and (max-width: 575px) {
  .p-about1__list .box1_col3 {
    width: 100%;
  }
}
