.p-home1__feel {
  padding-bottom: 68px;
  background-color: #F8F8F8;
}

@media only screen and (max-width: 767px) {
  .p-home1__feel {
    padding-bottom: 40px;
  }
}

.p-home1__feel .mb1 {
  margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
  .p-home1__feel .mb1 {
    margin-bottom: 20px;
  }
}
